version: 2
defaults: &defaults
    docker:
      - image: docker:18.06-git        
install_dependency: &install_dependency
          name: Installation of build and deployment dependencies.
          command: |
            apk add --no-cache bash
            apk add --no-cache jq py-pip sudo
            sudo pip install awscli --upgrade
            sudo pip install docker-compose

install_deploysuite: &install_deploysuite
          name: Installation of install_deploysuite.
          command: |
            git clone --branch v1.3 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
            cp ./../buildscript/master_deploy.sh .
            cp ./../buildscript/buildenv.sh .
            cp ./../buildscript/awsconfiguration.sh .

restore_cache_settings_for_build: &restore_cache_settings_for_build
  key: docker-node-modules-lsp-{{ checksum "package-lock.json" }}

save_cache_settings: &save_cache_settings
  key: docker-node-modules-lsp-{{ checksum "package-lock.json" }}
  paths:
    - node_modules

jobs:
  # Build & Deploy against development backend
  "build-dev":
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run: *install_dependency
      - run: *install_deploysuite
      - restore_cache: *restore_cache_settings_for_build
      - run:
          name: "configuring environment"
          command: |
            ./awsconfiguration.sh DEV
            ./buildenv.sh -e DEV -b dev-submission-processor-buildvar
      - run:
          name: "Building software"
          command: |
            source buildenvvar
            ./build.sh DEV
      - save_cache: *save_cache_settings
      - deploy:
          name: Running MasterScript.
          command: |
            source awsenvconf
            ./buildenv.sh -e DEV -b dev-submission-processor-deployvar
            source buildenvvar
            ./master_deploy.sh -d ECS -e DEV -t latest -s org_global_app_var,dev-submission-processor-appvar -i lsp-app
            #add deploy master script here

  # Build & Deploy against production backend
  "build-prod":
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run: *install_dependency
      - restore_cache: *restore_cache_settings_for_build
      - restore_cache: *restore_cache_settings_for_build
      - run: ./build.sh PROD
      - save_cache: *save_cache_settings
      - deploy:
          name: Running MasterScript.
          command: |
            git clone --branch v1.1 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
            cp ./../buildscript/master_deploy.sh .
            ./master_deploy.sh -d ECS -e PROD -t $CIRCLE_SHA1 -s submission-processor
            #add deploy master script here

workflows:
  version: 2
  build:
    jobs:
      # Development builds are executed on "develop" branch only.
      - "build-dev":
          filters:
            branches:
              only:
                - dev-circleci
                - develop
      - "build-prod":
          filters:
            branches:
              only:
                - master          
